<div class="login-page">
  <div class="login-card">
    <div class="login-brand">
      @if (configService.logoUrl()) {
        <img [src]="configService.logoUrl()" alt="logo" class="login-brand__logo" />
      }
      @if (configService.commerceName()) {
        <span class="login-brand__name">{{ configService.commerceName() }}</span>
      } @else {
        <span class="spinner-border spinner-border-sm"></span>
      }
    </div>
    <app-login-form (loginSuccess)="onLoginSuccess()" />
  </div>
</div>